@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600;700&display=swap');

.dialog-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 auto;
    left: 0;
    top: 0;
    overflow-y: auto;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999999;
}

@keyframes open-frame {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(0.95);
    }

    50% {
        transform: scale(0.97);
    }

    75% {
        transform: scale(0.93);
    }

    100% {
        transform: scale(1);
    }
}

.dialog-frame {
    background: #fff;
    height: 300px;
    width: 300px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    animation: open-frame 0.3s linear;
}

.dialog-header {
    display: flex;
    flex-direction: row;
    height: 90px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    align-items: center;
    justify-content: center;
    padding: 0 20px; 
}

.dialog-img {
    height: 50px;
}

.dialog-text {
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
}
.dialog-header img {
    height: auto;
    max-height: 100%;
}


.dialog-close {
    width: 30px;
    height: 30px;
    display: none;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    cursor: pointer;
    line-height: 30px;
}

.dialog-close-default {
    color: rgb(0, 0, 0, 0.2);
    font-size: 16px;
    transition: color 0.5s;
    margin-left: auto;
    margin-right: 5px;
    margin-top: 5px;
}



.dialog-body {
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content:flex-start; 
    align-items: center; 
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden; 
    height: 100%; 
    box-sizing: border-box;
}

.dialog-title, .dialog-info, .dialog-line {
    font-family: 'Poppins', sans-serif;
    color: #222;
    font-size: 15px;
    margin-bottom: 5px;
    align-self: flex-start; /* Alinea al inicio */
    width: 100%;
    word-wrap: break-word; /* Permite que las palabras largas se dividan */
    overflow-wrap: break-word; /* Permite que las palabras largas se dividan */
}

.dialog-line {
    font-weight: 400;
    color: #535353;
    text-align: center;
    line-height: 1.6;
    padding-left: 5px;
}

.dialog-buttons {
    display: flex;
    justify-content: center;
    margin-top: auto; 
    gap: 10px;
    margin-top: 15px;
}





.dialog-bg {
    background: #121B4C;
}
.error-bg {
    background: #d85261;
}

.success-bg {
    background: #2dd284;
}

.warning-bg {
    background: #f8d22a;
}

.question-bg {
    background: #779ecb;
}

.info-bg {
    background: #10759c;
}

.dialog-btn:hover {
    background: #4D5378;
}

.dialog-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cancelar-bg {
    background: #DD362D;
}

.cancelar-btn:hover {
    background: #E0442E;
}


.confirmar-button {
    min-width: 100px;
    height: 35px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.5s;
    padding: 0 15px;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

    .confirmar-button:focus {
        outline: 0;
    }

.cancelar-button {
    min-width: 100px;
    height: 35px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: 1.6;
    transition: background 0.5s;
    padding: 0 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

    .cancelar-button:focus {
        outline: 0;
    }

