
@font-face {
    font-family: 'LemonMilk';
    src: url('/MCreativos/Fonts/LemonMilk.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LibelSuit';
    src: url('/MCreativos/Fonts/libel-suit-rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.historial-card {
    padding: 20px; 
    box-shadow: 0px 0px 15px rgb(15 10 53 / 0.85);
    margin-top: 10px;
}

    .historial-card .card-body {
        padding: 0; 
    }

    .historial-card h3.card-title {
        font-family: 'LemonMilk', sans-serif;
        font-size: 1.8rem;
        color: #aa4c9c;
        margin: 0;
        text-align: left; 
        margin-bottom: 10px;
        line-height: 1.3rem;
    }

    .historial-card .card-icon {
        font-size: 2rem;
        color: #aa4c9c;
        justify-content: left; 
        display: inline-flex;
        align-items: flex-start;
        margin-bottom: 10px; 
    }


.historial-card {
    padding: 20px;
    box-shadow: 0px 0px 15px rgb(15 10 53 / 0.85);
    font-family: 'Urbanist', sans-serif;
    width: 95%; /* La tarjeta ocupará el 95% del ancho */
    margin: 10px auto; /* Centra horizontalmente la tarjeta */
}

.table thead th {
    background-color: #4c4e4f; /* Color del encabezado */
    color: white; /* Texto blanco en el encabezado */
    text-align: center; /* Alineación centrada en el encabezado */
}

.table tbody td {
    vertical-align: middle;
    text-align: center; /* Alineación centrada en el contenido de la tabla por defecto */
}

    .table tbody td.text-left {
        text-align: left; /* Alineación a la izquierda para columnas específicas */
    }

.btn-tracking {
    width: 100%; /* Ocupa todo el ancho de la celda */
    height: 100%; /* Ocupa todo el alto de la celda */
    border: none; /* Sin borde */
    background: transparent; /* Sin color de fondo */
    color: inherit; /* Hereda el color del texto de la celda */
    display: flex; /* Utiliza flexbox para alinear el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    padding: 0; /* Sin relleno adicional */
}

    .btn-tracking span {
        margin-right: 8px; /* Espacio entre el ícono y el texto */
        font-size: 1rem; /* Tamaño de fuente para el ícono */
    }


@media (max-width: 768px) {
    .table {
        font-size: 0.8rem; 
    }

    .table th, .table td {
            padding: 0.5rem; 
        }
}
