
@font-face {
    font-family: 'LemonMilk';
    src: url('/MCreativos/Fonts/LemonMilk.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LibelSuit';
    src: url('/MCreativos/Fonts/libel-suit-rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*ESTILOS DIV BUSCAR TICKETS*/
.ticket-card {
    padding: 20px; /* Espaciado interno simétrico */
    box-shadow: 0px 0px 15px rgb(15 10 53 / 0.85);
    margin-top: 10px;
}

.ticket-card .card-body {
    padding: 0; /* Elimina padding adicional para evitar mucho espacio */
}
    .ticket-card h3.card-title {
        font-family: 'LemonMilk', sans-serif;
        font-size: 1.6rem;
        color: #0f0a35;
        margin: 0;
        text-align: center; /* Centrar el título horizontalmente */
        margin-bottom: 10px; /* Espacio entre el título y el input */
        line-height: 1.3rem;
    }

    .ticket-card .card-icon {
        font-size: 1.8rem;
        color: #0f0a35;
        justify-content: center; /* Centrar el ícono horizontalmente */
        display: inline-flex;
        align-items: center;
        margin-bottom: 10px; /* Espacio entre el título y el input */
    }

    .ticket-card .form-group {
        display: flex;
        justify-content: center; /* Centrar el ícono horizontalmente */
        align-items: center;
        margin-bottom: 0; /* Eliminar margen inferior */
    }

    .ticket-card #txtFolio {
        flex-grow: 1; /* Permite que el input ocupe todo el espacio disponible */
        margin-right: 8px; /* Espacio entre el input y el botón */
        font-family: 'Urbanist', sans-serif;
        font-size: 1.2rem;
    }

    .ticket-card #btnBuscar {
        background-color: #0f0a35;
        color: #fff;
        border: none;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 50px; /* Ancho mínimo para hacer el botón más ancho */
    }

    .ticket-card #btnBuscar span {
        font-size: 1rem; /* Tamaño del ícono */
        font-weight:bold;
    }

    .ticket-card #btnBuscar:hover {
        background-color: #1f386e;
    }

/*ESTILOS DIV INFORMACIÓN DEL PEDIDO*/
.infopedido-card {
    padding: 20px; /* Espaciado interno simétrico */
    box-shadow: 0px 0px 15px rgb(15 10 53 / 0.85);
    margin-top: 10px;
}

    .infopedido-card .card-body {
        padding: 0; /* Elimina padding adicional para evitar mucho espacio */
    }

    .infopedido-card .card-title {
        font-family: 'LemonMilk', sans-serif;
        font-size: 1.2rem;
        color: #0f0a35;
        margin: 0;
        margin-bottom: 10px; /* Espacio entre el título y el input */
        /*line-height: 1.3rem;*/
    }

    .infopedido-card .card-icon {
        font-size: 1.8rem;
        color: #0f0a35;
        display: inline-flex;
        align-items: center;
        margin-right: 10px; /* Espacio entre el ícono y el título */
    }

    .infopedido-card .form-group {
        display: flex;
        flex-direction: column; /* Organiza el contenido en columna */
        align-items: flex-start; /* Alinea todo el contenido a la izquierda */
        justify-content: flex-end; /* Alinea el contenido hacia abajo */
        height: 100%; /* Asegura que el contenido use toda la altura disponible */
        margin-bottom: 0; /* Elimina margen inferior */
    }

    .infopedido-card #btnPasarProduccion {
        background-color: #e86217;
        color: #ffffff;
        width: 100%; /* Botón ocupa todo el ancho */
    }

        .infopedido-card #btnPasarProduccion span {
            font-size: 1rem; /* Tamaño del ícono */
            font-weight: bold;
        }

        .infopedido-card #btnPasarProduccion:hover {
            background-color: #1f386e;
        }



/*ESTILOS DIV PEDIDOS*/
.pedidos-card {
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(15, 10, 53, 0.85);
}
    .pedidos-card .card-body {
        padding: 0; /* Elimina padding adicional para evitar mucho espacio */
    }

    .pedidos-card h3.card-title {
        font-family: 'LemonMilk', sans-serif;
        font-size: 1.6rem;
        color: #0f0a35;
        margin: 0;
    }
    .pedidos-card .card-icon {
        font-size: 1.8rem;
        color: #0f0a35;
        margin-right: 10px;
    }

.cpedidos {
    display: flex;
    justify-content: center;
}




.oculto {
    display: none;
}



/* Estilo para el cliente */
.cliente {
    font-size: 0.9rem;
    font-family: 'LemonMilk', sans-serif;
    margin-bottom: 2px; 
    color: #0f0a35;
}

/* Estilo para los detalles */
.detalle {
    font-size: 1rem;
    font-family: 'Urbanist', sans-serif;
    margin-bottom: 2px; 
}


/* Estilo de las categorías */
.order-category {
    border-radius: 10px;
    margin-bottom: 10px;
}
/* Estilos para .order-header */
.order-header {
    font-family: 'LemonMilk', sans-serif;
    display: flex;
    align-items: center; /* Alineación vertical */
    justify-content: flex-start; /* Alineación horizontal (puedes usar center si es necesario) */
    margin-bottom: 15px; /* Espacio entre el encabezado y otros elementos */
}

    /* Estilos para el ícono dentro del encabezado */
    .order-header .order-icon {
        font-size: 1.6rem; /* Ajusta el tamaño del ícono */
        color: #0f0a35; /* Aplica el color que desees */
        margin-right: 10px; /* Espacio entre el ícono y el texto */
        display: inline-flex;
        align-items: center; /* Asegura que el ícono esté centrado verticalmente */
    }

    /* Estilos para el título dentro del encabezado */
    .order-header h3 {
        font-size: 1.6rem; /* Tamaño de la fuente del título */
        color: #0f0a35;
        margin: 0; /* Elimina los márgenes predeterminados */
        line-height: 1.3rem; /* Ajusta la altura de línea */
    }


/* Ícono de categoría con colores específicos */
.category-1 .order-icon {
    color: #274296;
}

.category-2 .order-icon {
    color: #2272ab;
}
.category-3 .order-icon {
    color: #aa4c9c;
}

.category-4 .order-icon {
    color: #dc418c;
}
.category-5 .order-icon {
    color: #e86217;
}

.category-6 .order-icon {
    color: #f8d22a;
}
.category-7 .order-icon {
    color: #0f0a35;
}
/* Sombra para los .card-item en base al color del ícono */
.category-1 .card-item {
    box-shadow: 0 2px 8px rgba(39, 66, 150, 0.5); /* Color azul para categoría 1 */
}

.category-2 .card-item {
    box-shadow: 0 2px 8px rgba(34, 114, 171, 0.5); /* Color azul más claro para categoría 2 */
}

.category-3 .card-item {
    box-shadow: 0 2px 8px rgba(170, 76, 156, 0.5); /* Color rosa para categoría 3 */
}

.category-4 .card-item {
    box-shadow: 0 2px 8px rgba(220, 65, 140, 0.5); /* Color fucsia para categoría 4 */
}

.category-5 .card-item {
    box-shadow: 0 2px 8px rgba(232, 98, 23, 0.5); /* Color naranja para categoría 5 */
}

.category-6 .card-item {
    box-shadow: 0 2px 8px rgba(248, 210, 42, 0.5); /* Color amarillo para categoría 6 */
}

.category-7 .card-item {
    box-shadow: 0 2px 8px rgba(15, 10, 53, 0.5); /* Color azul oscuro para categoría 7 */
}

/* Título dentro de cada categoría */
.order-category h3 {
    font-size: 1.3em;
    margin: 0;
    text-align: left;
}
/* Contenedor de tarjetas */
.card-container {
    display: flex;
    flex-wrap: wrap; /* Las tarjetas se ajustan a la siguiente fila si no caben */
    gap: 20px; /* Espacio entre las tarjetas */
    justify-content: flex-start; /* Alinea las tarjetas a la izquierda */
    padding: 10px; /* Añade algo de espacio interior */
}

/* Estilo de las tarjetas */
.card-item {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.33% - 20px); /* Tamaño de un tercio del contenedor */
    text-align: left;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
    max-width: calc(33.33% - 20px);
}

.card-item:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Estilos para pantallas pequeñas */
@media (max-width: 767px) {
    .card-container > .card-item {
        flex: 1 1 100%; /* La tarjeta ocupará el 100% del contenedor */
        max-width: 100%;
    }
}

/* Estilos para pantallas medianas */
@media (min-width: 768px) {
    .card-container > .card-item {
        flex: 1 1 calc(33.33% - 20px);
    }
}

/* Estilos para pantallas grandes */
@media (min-width: 992px) {
    .card-container > .card-item {
        flex: 1 1 calc(33.33% - 20px);
    }
}

























/* Estilo para el botón de búsqueda */
#btnBuscar {
    background-color: #274296;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

    #btnBuscar:hover {
        background-color: #2272ab;
    }

/* Responsividad */
@media (max-width: 768px) {
    .col-md-8, .col-md-6 {
        margin-top: 15px;
    }
}
